********** Dev-Test CTIN **********

Mostrar en un landing page responsiva en tres resoluciones un listado de noticias sobre la economía digital que muestre:

Fotografía de la noticia
Medio que publica la noticia
Encabezado de la noticia
Dos líneas del primer párrafo de la noticia
Tiempo que ha transcurrido desde la publicación de la noticia
Botón para actualizar el listado de las noticias

Toda esta información obtenla de la Google News API, por lo que se deberá establecer conexión con esta API. La API permite su uso gratuito para proyectos escolares dependiendo de las librerías que uses. 
El ejercicio tmb tiene la intención de analizar la resolución de contratiempos. No hay que pagar nada, ni buscar otra API.


-Enviar la liga del landing page para ver ejecutado el código publicado en un host gratuito
-En archivo zip, enviar por we transfer o claro drive el código implementado a las siguientes cuentas:


ada.palazuelos@idcarso.com
torresanmi@globalhitss.com 

Entregar el lunes a las 10am


********** News App **********

1.- Use this API
	News API
	key: 159a82fe42a4469abdd2b1b1272f4c9e

2.- Make a GET request to:
	https://newsapi.org/v2/top-headlines?country=mx&category=business&apiKey=159a82fe42a4469abdd2b1b1272f4c9e

	This API returns an array of JSON Objects with the info of the new.

3.- Create a simple component to show each new, this component should contain the next info:
		Photo of new.
		Author.
		The header of new.
		2 lines for the paragraph.
		Date

4.- Create a Button to refresh all news.